[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = milangruner@gmail.com
	name = Milan Gruner
[core]
	editor = nvim
[merge]
	rebase = false
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
